---
import ImageMod from "./ImageMod.astro";
import { humanize, slugify } from "@/lib/utils/textConverter";

const { data, link: customLink } = Astro.props;
const { title, image, link, tags } = data.data;
const cardLink = customLink || link;
---

<div class="bg-body dark:bg-darkmode-body">
  <a href={cardLink} target={customLink ? "_self" : "_blank"} rel={customLink ? "" : "noopener noreferrer"}>
    <ImageMod
      class="w-full rounded"
      src={image}
      alt={title}
      width={445}
      height={230}
      format="webp"
    />
  </a>
  <h4 class="text-center mt-3 mb-2">{title}</h4>
  <div class="text-center mb-2">
    <strong>Tags:</strong>
  </div>
  <ul class="flex justify-center flex-wrap">
    {
      tags.map((tag: string) => (
        <li class="mr-2 mb-1">
          <a href={`/certificados/tags/${slugify(tag)}`} class="badge badge-outline">
            {humanize(tag)}
          </a>
        </li>
      ))
    }
  </ul>
</div>