---
import ImageMod from "./ImageMod.astro";
import { humanize, slugify } from "@/lib/utils/textConverter";
import dateFormat from "@/lib/utils/dateFormat";

const { data, link: customLink } = Astro.props;
const { title, image, link, tags, date } = data.data;
const cardLink = customLink || link;
---

<div class="bg-body dark:bg-darkmode-body">
  <a href={cardLink} target={customLink ? "_self" : "_blank"} rel={customLink ? "" : "noopener noreferrer"}>
    <ImageMod
      class="w-full h-56 rounded object-cover"
      src={image}
      alt={title}
      width={445}
      height={224}
      format="webp"
    />
  </a>
  <h4 class="text-center mt-3 mb-2">{title}</h4>
  <div class="text-center mb-2">
    <strong>Tags:</strong>
    {
      tags.map((tag: string, index: number) => (
        <>
          <a href={`/certificados/tags/${slugify(tag)}`} class="font-bold">
            {humanize(tag)}
          </a>
          {index < tags.length - 1 && ", "}
        </>
      ))
    }
  </div>
  {date && <p class="text-center mt-2 text-sm border-t border-gray-300 dark:border-gray-600 pt-2">{new Intl.DateTimeFormat('es-ES', { day: 'numeric', month: 'long', year: 'numeric' }).format(new Date(date))}</p>}
</div>