---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import TimeLineElement from "@/components/TimeLineElement.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";

const about = (await getEntry("about", "-index")) as CollectionEntry<"about">;
const { Content } = await render(about);
const { title, description, meta_title, image } = about.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-7">
          {
            image && (
              <ImageMod
                class="mx-auto mb-6 rounded-lg"
                src="/images/Profile.jpg"
                width={200}
                height={200}
                alt={title}
                format="webp"
              />
            )
          }
          <h2> Hola, mi nombre es Eloy Chavez</h2>
          <div class="content">
            <p>Apasionado tecn贸logo y creador digital que fusiona la innovaci贸n con la creatividad para transformar desaf铆os en oportunidades a trav茅s de soluciones digitales impactantes. Mi enfoque radica en emplear la tecnolog铆a como herramienta para generar un impacto significativo en proyectos diversos. Con un historial probado de 茅xito en la resoluci贸n de problemas, mi objetivo es impulsar la excelencia en cada proyecto que emprendo.</p>
          </div>

          <div class="text-left">
            <div class="mb-5">
            <div class="text-3xl w-full font-bold">Experiencia</div>
          </div>

          <div class="time-line-container mb-10">
            <TimeLineElement
              title="Docente en Universidad Continente Americano"
              subtitle="Desde Enero 2024"
            >
            En mi rol como docente, imparto con pasi贸n y dedicaci贸n clases de Desarrollo de Aplicaciones Sobre Internet, donde gu铆o a los estudiantes en el dominio de tecnolog铆as clave para dise帽ar y construir aplicaciones web innovadoras y funcionales.
            Adem谩s, lidero la instrucci贸n en Organizaci贸n de Centros de C贸mputo, proporcionando a los alumnos las habilidades necesarias para gestionar eficientemente recursos y servicios de tecnolog铆a de la informaci贸n, asegurando as铆 un entorno inform谩tico 贸ptimo y seguro.
            Mi enfoque educativo se centra en fomentar el pensamiento cr铆tico, la creatividad y el dominio t茅cnico para preparar a los estudiantes para los desaf铆os del mundo digital actual.
            </TimeLineElement>
            <TimeLineElement
              title="Community Manager en Instituto Americano Plantel Celaya"
              subtitle="Desde Marzo 2023 Jornada Parcial"
            >
            Como Community Manager he cultivado una s贸lida experiencia en la gesti贸n de comunidades en l铆nea. Mi papel ha abarcado desde la creaci贸n de contenido atractivo hasta la interacci贸n activa con la audiencia, manteniendo un ambiente digital din谩mico y en constante crecimiento. </br>
            He adquirido habilidades de comunicaci贸n efectiva, estrategias de contenido adaptadas a diferentes plataformas y la capacidad de analizar m茅tricas para optimizar la participaci贸n y el alcance.
            Mi dedicaci贸n a la construcci贸n de relaciones s贸lidas y la promoci贸n de la marca me ha permitido contribuir de manera significativa al fortalecimiento de la presencia en l铆nea de la instituci贸n.
            </TimeLineElement>
            <TimeLineElement
              title="Auxiliar de Sistemas en Universidad Continente Americano"
              subtitle="Desde Junio del 2020"
            >
            He desarrollado un s贸lido entendimiento de la infraestructura tecnol贸gica, realizando tareas de soporte t茅cnico, mantenimiento de hardware y software asi como resoluci贸n de problemas. </br>
            He demostrado habilidades en la configuraci贸n de redes, instalaci贸n de software y atenci贸n eficiente a usuarios, contribuyendo a un entorno inform谩tico eficaz y fluido.
            </TimeLineElement>
            <TimeLineElement
              title="Assiociate en Platzi"
              subtitle="Desde Noviembre del 2021 hasta Agosto del 2022"
            >
            Involucrado en el aseguramiento de calidad de cursos, resoluci贸n de preguntas principalmente t茅cnicas de estudiantes sobre los cursos y participaci贸n activa en pruebas beta. </br>
            Desarroll茅 competencias en evaluaci贸n rigurosa, comunicaci贸n efectiva y detecci贸n temprana de problemas, contribuyendo al continuo mejoramiento de la experiencia educativa en l铆nea.
            </TimeLineElement>
          </div>

          <div class="mb-5">
            <div class="text-3xl w-full font-bold">Conferencias impartidas</div>
          </div>

          <div class="time-line-container grid gap-4 mb-10">
            <TimeLineElement
              title="Taller de Ciberseguridad"
              subtitle="2023 - Universidad Continente Americano"
            >
            Ense帽e conocimientos esenciales sobre protecci贸n de datos y sistemas, abordando amenazas cibern茅ticas comunes y t茅cnicas de prevenci贸n. </br>
            Explorando conceptos de seguridad en redes, pr谩cticas de higiene digital, m茅todos de detecci贸n de ataques y pautas para mantener entornos en l铆nea seguros, empoderando a los participantes con habilidades para salvaguardar la informaci贸n y la privacidad.
            </TimeLineElement>
            <TimeLineElement
              title="Conferencia Seguridad en Redes Sociales"
              subtitle="2023 - Universidad Continente Americano"
              >
            Ejemplifique los riesgos y desaf铆os de la interacci贸n en l铆nea, brindando consejos pr谩cticos para proteger la privacidad y la identidad digital. </br>
            Mostrando estrategias para identificar y prevenir amenazas como el phishing y el robo de identidad, adem谩s de abordar la gesti贸n de la configuraci贸n de privacidad en diferentes plataformas. </br>
            A trav茅s de casos reales y mejores pr谩cticas, proporcionar茅 a los asistentes las herramientas necesarias para navegar por las redes sociales de manera segura y responsable.
            </TimeLineElement>
            <TimeLineElement
            title="Taller de Marca Personal"
            subtitle="2022 - Universidad Continente Americano"
          >
          Aprendimos a definir y desarrollar una identidad 煤nica y aut茅ntica. Exploraremos la importancia de la narrativa personal, la creaci贸n de contenido estrat茅gico y la optimizaci贸n de perfiles en l铆nea. </br>
          Adicionalmente, abordaremos t茅cnicas de networking, comunicaci贸n efectiva y gesti贸n de reputaci贸n, para que los participantes puedan construir una marca s贸lida y destacar en entornos profesionales y digitales.
          </TimeLineElement>
          <TimeLineElement
            title="Talk: Construyendo Conocimiento como Armar una PC"
            subtitle="2021 - PlatziConf"
            >
            En esta charla, explore c贸mo el proceso de armar una PC se asemeja sorprendentemente al aprendizaje efectivo.</br>
            Desglos茅 los pasos esenciales para construir conocimiento s贸lido, desde la selecci贸n de componentes hasta la resoluci贸n de problemas. </br>
            A trav茅s de analog铆as creativas, compartir茅 estrategias pr谩cticas para investigar, comprender, ensamblar y optimizar informaci贸n, brindando a los asistentes un enfoque inspirador y tangible para adquirir nuevas habilidades y conceptos.
          </TimeLineElement>
          </div>

          <div class="mb-5">
            <div class="text-3xl w-full font-bold">Formaci贸n</div>
          </div>

          <div class="time-line-container grid gap-4 mb-10">
            <TimeLineElement
              title="Platzi"
              subtitle="2016-2024"
            >
              Aprend铆 programaci贸n, ciberseguridad, dise帽o gr谩fico y desarrollo web, as铆 como marketing digital, negocios en l铆nea y habilidades de emprendimiento, a trav茅s de cursos interactivos y expertos de la industria.
            </TimeLineElement>
            <TimeLineElement
              title="UNITESBA"
              subtitle="2010-2014"
              >
              Obtuve comprensi贸n integral de la gesti贸n empresarial, finanzas y liderazgo. </br>
              Asi como habilidades para tomar decisiones estrat茅gicas, gestionar equipos y optimizar recursos, prepar谩ndote para roles en diversos sectores y contribuyendo tanto al crecimiento como 茅xito de organizaciones en el din谩mico entorno empresarial.
            </TimeLineElement>
          </div>

          <div class="mb-5">
            <div class="text-3xl w-full font-bold">Skills</div>
          </div>

          <div class="mb-5">
          <ul class="list-disc md:columns-4 columns-3 mx-6">
            <li>Enfoque Estrat茅gico</li>
            <li>Innovaci贸n y Creatividad</li>
            <li>Resoluci贸n de Problemas</li>
            <li>Liderazgo y Colaboraci贸n</li>
            <li>Habilidades Digitales</li>
            <li>Comunicaci贸n Efectiva</li>
            <li>An谩lisis y Evaluaci贸n</li>
            <li>Adaptabilidad</li>
            <li>Pasi贸n y Motivaci贸n</li>
          </ul>
          </div>

          <div class="mb-5">
            <div class="text-3xl w-full font-bold">Lenguajes</div>
          </div>

          <div class="mb-5">
          <ul class="list-disc md:columns-4 columns-3 mx-6">
            <li>Espa帽ol - Nativo</li>
            <li>Ingles - B1</li>
          </ul>
          </div>

          <div class="mb-5">
            <div class="text-3xl w-full font-bold">Formaci贸n Certificada</div>
          </div>

          <ul class="list-disc mx-6 mb-10 grid gap-2">
            <li>
              <b><a href="https://platzi.com/p/EloyChavezDev/ruta/14992-ciberseguridad-personal/diploma/detalle/" target="_blank" class="text-blue-600 dark:text-blue-400">Ciberseguridad Personal</a></b>
            </li>
            <li>
              <b><a href="https://platzi.com/p/EloyChavezDev/ruta/1-fundamentos-programacion/diploma/detalle/" target="_blank" class="text-blue-600 dark:text-blue-400">Fundamentos de Programaci贸n</a></b>
            </li>
          </ul>

          <div class="mb-5">
            <div class="text-3xl w-full font-bold">Cursos Certificados</div>
          </div>

          <ul class="list-disc mx-6 mb-10 grid gap-2">
            <li>
              <b><a href="https://platzi.com/p/EloyChavezDev/" target="_blank" class="text-blue-600 dark:text-blue-400">96 Cursos en Platzi</a></b>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
